.HomeTalks {
  flex-basis: 33.33%;
}

.HomeTalks .Recent-Journal {
  width: 80%;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  min-height: 240px;
  padding: 10px;
  margin-top: 10px;
}

.HomeTalks .Main-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeTalks .Main-Container h1 {
  display: flex;
  flex-direction: column;
  font-size: 29px;
  font-weight: bold;
}

.HomeTalks .Journal-Contain {
  display: flex;
  justify-content: center;
}

.HomeTalks .Journal-Headers {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.HomeTalks button {
  color: "default";
}

.HomeTalks .Main-Container {
}
