.HomeGoals {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.HomeGoals .Head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeGoals .Goals {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;

  * {
    color: white;
  }
}
.HomeGoals .Goal {
  width: 100%;
  padding: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin-left: 5px;
}

.HomeGoals h1 {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.HomeGoals .Tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.HomeGoals h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
}

/* Add hover effect for each task item */
.HomeGoals .Task:hover {
  transform: scale(1.1); /* Increase size on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.HomeGoals .Task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.2); /* 50% opacity white */
  border-radius: 8px;
  width: 60%;
  white-space: normal; /* or white-space: pre-wrap; depending on your requirement */
  word-wrap: break-word; /* or overflow-wrap: break-word; for better support */
  transition: transform 0.3s, box-shadow 0.3s;
}

.TaskLabel {
  display: flex;
  align-items: center;
}

.Checkbox {
  margin-right: 10px; /* Adjust as needed */
}

.Checkmark {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.Checkmark.cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 2px solid #ccc;
  border-top: none;
  border-right: none;
}

.Checkbox.custom-checkbox {
  position: relative;
}

.Checkbox.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
}

.Checkbox.custom-checkbox label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.Checkbox.custom-checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  transform: translateY(-50%);
}

.Checkbox.custom-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #ccc;
}

.Checkbox.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "\00d7"; /* Unicode character for cross */
  position: absolute;
  left: 4px;
  top: 3px;
  color: #fff;
  font-size: 12px;
}

