.HomeRocket {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
}

.HomeRocket .Tracks {
  display: flex;
  flex-basis: 80%;
}

.HomeRocket .RocketTrack {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.HomeRocket .RocketTrack .RocketTrackContainer {
  transition: height 1s ease;
}

.HomeRocket .Planets {
  width: 50%;
  height: 100%;

  position: relative;
}

.HomeRocket .Planets .DottedPath {
  position: absolute;
  left: 90px;
  top: 40px;
  width: 10px;
  height: 85%;
  border-left: 10px dashed white;
  z-index: -10;
}

.HomeRocket .ProgressBar {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
